@import 'antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.content{
  display: flex;
}
.getData{
  width: 100%;
  height: 4vh;
  background-color: black;
}

.treeMenu{
 width: 20%;
 height: 100vh;
 overflow: scroll;
 
 background-color: #282c34;
}

.displayArea{
 flex: 1;
 /* background-color: #61dafb; */
}

.tableArea{
  width: 100%;
  height: 30vh;
  overflow: scroll;
  /* border: 1px solid gray; */
  /* background-color: black; */
}

